body{
  color: #001e50;
}

.bg{
  background-image: url('../img/1.jpg');
  background-repeat: no-repeat;
  min-height: 60em;
  background-position: center;
  background-size: cover;
}
.color1 {
  color: #001e50 !important;
}
.bg1{
    background-color: #001e50;
}
.color2 {
  color: #000000;
}

.list-group-item{
 background-color: transparent;
 border: none;
}
.text-small{
  font-size: 0.8rem;
}

.crd{
  border-radius: 30px;
  height: 400px;
  background-color: #001e50;
}


.hr{
width: 150px;
margin-left: 220px;
}

.fr{
  border-radius: 30px;
  height: 400px;
}
/* .bgh{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
}
.card:hover .bgh{
background: #001e50;
} */
/* .card img {
  z-index: 3;
} */

.carhover
{
    position: relative;
    transition: all .2s ease-in;
    
}
.carhover:hover
{
    z-index:2;
    transform: scale(1.3);
}

